.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.modal-header {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-800);
  color: var(--neutral-100);
}

.modal-btn {
  cursor: pointer;
  background-color: var(--neutral-100);
  color: var(--neutral-900);
}

.modal-checkbox-grid {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(4, 225px);
  gap: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

label {
  font-size: 0.8rem;
  color: var(--neutral-900);
}

.mandatory {
  cursor: not-allowed;
}

.default,
.optional {
  cursor: pointer;
}

.modal-footer {
  padding: 0 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}